body,ul,li { margin:0px; font-family:Arial, Helvetica, sans-serif}
li{list-style: none; padding:0px;}
.clear{ clear: both}
.text_200{ width:200px;height:20px;border:1px solid;border-color:#666666 #CCCCCC #CCCCCC #666666; font-size:12px; line-height:20px; padding-left:3px; font-family:Arial, Helvetica, sans-serif}
.but90{ border:0px; background-image:/*url(../images/but.gif)*/; height:27px; width:91px; text-align:center; font-size:14px; color:#FFFFFF;  font-weight:bold; cursor:pointer}

.nav{ width:762px;margin:0  auto; margin-top:20px;}
.nav .tit{ width:100%; height:50px; /*background-image:url(../images/nva_bg.gif)*/; text-align:center}
.nav .tit h1{ font-size:28px; color: #FFFFFF; font-family:"microsoft yahei","ו"; font-weight:100; padding-top:5px;}
.nav .txt{ width:760px; border:1px #B8D6EB solid; height:70px; background:/*url(../images/step_bg.gif)*/ no-repeat center 26px; padding-top:20px; font-size:14px;}
.nav .txt li{ float:left; padding-top:28px; color:#999999;background:/*url(../images/step_wait.gif)*/  no-repeat}
.nav .txt li.s1{background-position:47px 9px;  padding-left:20px; width:100px;}
.nav .txt li.s2{background-position:147px 9px; padding-left:118px; width:100px;}
.nav .txt li.s3{background-position:149px 9px; padding-left:123px; width:80px;}
.nav .txt li.s4{background-position:166px 9px; padding-left:140px;width:60px;}
.nav .txt li.now{ color: #FF9900; font-weight:bold;/*background-image:url(../images/step_now.gif)*/}
.nav .txt li.succeed{ color: #009900; font-weight:bold;/*background-image:url(../images/step_succeed.gif)*/}

.pagetit{width:762px;margin:0  auto; margin-top:15px; border:0px #B8D6EB solid; border-width: 1px 0px; height:28px; line-height:28px; font-size:14px; background-color: #F7FDFF}
.pagetit strong{ padding-left:10px;}



.step1{width:700px;margin:0  auto; padding:10px; font-size:14px; color:#333333}
.step1 li{   line-height:26px;}
.step1 .butbox{ padding:30px; text-align:center}

.step2 fieldset{ border:1px #B8D6EB solid;font-size:12px;}
.step2 legend{ }
.step2 .set{width:762px; padding-top:15px; margin:0  auto;}
.step2 .note { color:#999999; padding-left:8px;}
.step2 .butbox{ padding:30px; text-align:center; margin-bottom:100px;}

.step3{width:762px; padding-top:15px; margin:0  auto;}
.step3 .wait { padding-left:70px;}
.step3 .wait ul{ font-size:14px; color:#333333}
.step3 .wait ul li{ list-style: none; padding:0px; line-height:25px;/* background:url(../images/li.gif)no-repeat 0px 6px*/ ; padding-left:20px; color:#999999}
.step3 .wait ul li span{ padding-left:30px; color:#0066CC;}
.step3 .wait ul li u{ text-decoration:none}
.step3 input{width:40px;}
.success {width:762px; padding-top:50px; margin:0  auto;text-align:center; display:none}

.step4 {width:762px; padding-top:50px; margin:0  auto;text-align:center; color:#FF3300; font-size:14px;}